body {
    font-family: 'Quicksand', sans-serif;
    /* background-color: #F1F1F1; */
}

.nav-link {
    cursor: pointer;
}

#wrapper #content-wrapper {
    background-color: rgb(247, 247, 247);
}

#admin-top .page-link,
#admin-top .nav-link.active {
    color: rgb(75, 163, 91) !important;
}

#admin-top .page-item.active .page-link {
    color: #fff !important;
    background-color: rgb(75, 163, 91) !important;
    border-color: rgb(75, 163, 91) !important;
}

.omi-w-intro-img-container {
    display: none !important;
}

.is-content {
    flex: 1;
    min-width: 0;
}

.bg-topbg {
    background: rgb(42, 63, 131);
}

.container {
    max-width: 1110px;
}

.text-success {
    color: rgb(75, 163, 91) !important;
}

.bg-success,
.btn-success {
    background-color: rgb(75, 163, 91) !important;
}

.btn-primary {
    background-color: rgb(42, 63, 131) !important;
}

nav a {
    font-weight: 700;
}

#search {
    max-width: 550px;
    margin: auto;
    position: relative;
}

#search input {
    display: inline-block;
    text-indent: 15px;
    padding: 10px;
}

#search button {
    position: absolute;
    top: 3px;
    right: 20px;
    font-size: 24px;
}

#quote {
    position: relative;
}

#quote-top {
    position: absolute;
    width: 3%;
    left: 5%;
    top: 6%;
}

#quote-bottom {
    position: absolute;
    width: 3%;
    right: 5%;
    bottom: 6%;
}

.quote-text {
    position: absolute;
    font-weight: 300;
    text-align: center;
    width: 80%;
    top: 30%;
    left: 10%;
    font-size: 1.2rem;
    color: #fff;
}

.classBox {
    text-decoration: none;
}

#banners {
    max-height: 400px !important;
}

#banners img {
    max-width: 100%;
    max-height: 400px;
}

.carousel3 {
    min-height: 300px;
}

.carousel4 .class-button {
    position: absolute;
    bottom: 0;
}

#promotion.carousel3 .card {
    min-height: 280px;
}

.carousel3 .card {
    min-height: 230px;
}

.carousel3 img {
    min-height: 230px;
}

.promotion-tag {
    width: 96px;
    height: 96px;
    background: url(./img/promotion-tag.png) top left no-repeat;
    position: absolute;
    right: 10%;
    bottom: 0px;
    color: #FF0000;
    font-size: 28px;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: center;
    transform: rotate(20deg);
}

footer {
    background-color: #F7F7F7;
    min-height: 300px;
}

footer h6 {
    line-height: 80px;
    vertical-align: bottom;
    font-size: 20px;
}

#pdptab .active {
    color: #01A652 !important;
}

.collapse-module .collapse,
.collapse-module .collapsing {
    height: 250px;
    /* [NUM_OF_LINES] x [LINE_HEIGHT] */
}

.collapse-module .collapse {
    position: relative;
    display: block;
    overflow: hidden;
}

.collapse-module .collapse:before {
    position: absolute;
    right: 0;
    bottom: 0;
}

.collapse-module .collapse.show {
    height: auto;
    /* You need to reset the height when not collapsed */
}

.collapse-module .collapse.show:before {
    display: none;
}

.collapse-module button[aria-expanded="false"]:after {
    content: '⇳ MỞ RỘNG';
}

.collapse-module button[aria-expanded="true"]:after {
    content: '⇳ THU GỌN';
}

.imagebox:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.toast {
    z-index: 999;
    margin-top: -30px;
    margin-right: 10px;
}

.imagebox {
    position: relative;
}

.imagebox img {
    position: absolute;
    /* Take your picture out of the flow */
    top: 3%;
    bottom: 3%;
    left: 3%;
    right: 3%;
    /* Make the picture taking the size of it's parent */
    width: 94%;
    /* This if for the object-fit */
    height: 94%;
    /* This if for the object-fit */
    object-fit: cover;
    /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
}

.grid_title {
    height: 4rem;
    line-height: 1.5rem;
    overflow: hidden;
}

.class-title,
.class-price {
    line-height: 1.5rem;
    height: 3rem;
    overflow: hidden;
}

.article-sidebar {
    min-height: 32px;
}

.owl-carousel-control-icon,
.owl-carousel-control-icon-right {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
}

.owl-carousel-control-icon {
    left: -20px;
}

.owl-carousel-control-icon-right {
    right: -20px;
}

#landing-banner {
    background: rgb(0, 91, 168) url("./img/landing_banner.png") no-repeat center;
    background-size: cover;
    height: 600px;
}

#landing-banner>div {
    padding-top: 170px;
}

#landing-number {
    background: #fff url("./img/landing_numberbg.png") no-repeat center;
    background-size: cover;
    height: 305px;
}

#landing-number>div {
    background: #fff;
    opacity: 0.9;
    height: 100%;
    position: relative;
}

.landing-number-item {
    margin-top: 100px;
    /* top: 40%; */
    /* position: absolute; */
}

.landing-number-item img {
    max-height: 60px;
}

.school-logo {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.school-logo li {
    max-height: 100px;
    display: inline-block;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.school-logo li img {
    max-height: 80px;
}

.carousel button.active {
    background-color: #01A652 !important;
}

.mobile-closed-message-avatar {
    display: none !important;
}


/* #landing-number div {
    opacity: 1;
} */

@media screen and (max-width: 768px) {
    #banners img {
        max-height: 200px;
    }
    #search {
        max-width: 93%;
    }
    .quote-text {
        top: 20%;
        font-size: 0.7rem;
    }
    #landing-banner {
        height: 400px;
    }
    #landing-banner>div {
        padding-top: 100px;
    }
}