APP_NAME=anyLearn
APP_NAME_LONG="anyLearn - Hệ thống quản trị"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

CDN_VERSION=1.0.0
MAIN_COLOR=primary
FCM_SERVER_KEY=my_secret_server_key
FCM_SENDER_ID=my_secret_sender_id

FB_CLIENT_ID=
FB_CLIENT_SECRET=
LOGIN_3RD_ENABLE=0

MAIL_FROM_ADDRESS=info@anylearn.vn
MAIL_FROM_NAME="anyLEARN Học không giới hạn"

GOOGLE_MAPS_API_KEY=

PAYMENT_ONEPAY_LOCAL_SERVER=https://onepay.vn/onecomm-pay/Vpcdps.op
PAYMENT_ONEPAY_LOCAL_ACCESSCODE=D67342C2
PAYMENT_ONEPAY_LOCAL_MERCHANT=ONEPAY
PAYMENT_ONEPAY_LOCAL_SECRET=A3EFDFABA8653DF2342E8DAC29B51AF0

CALLBACK_SERVER=http://localhost:8000/payment-result

PAYMENT_METHOD=atm,onepaylocal

TEMPLATE=
CHATBOT_ENABLE=0
PROMOTIONS_TITLE="Ưu đãi nổi bật"
EVENTS_TITLE="Sự kiện nổi bật"

SMS_APIKEY=
SMS_SECRETKEY=
SMS_CALLBACK=
SMS_BRANDNAME=baotrixemay
SMS_SANDBOX=0

APP_VERSION_REVIEW=
APP_REVIEW_DIGITAL_SELLERS=222,418,996,997,1008,1144,1254,1266,1267,1268,1269,1270,1330,976,1496,1180,933,1069
CERT_WIDTH=2560
CERT_HEIGHT=1440
CERT_X=580
CERT_Y=400