.modal img {
    max-width: 100% !important;
}

.special-check.is-invalid~.invalid-feedback {
    display: block;
}

.card-footer ul.pagination {
    margin-bottom: 0 !important;
}

.vertical-text>a {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.nav-pills-custom .nav-link {
    position: relative;
    border-radius: 0;
    background: #fff;
    margin-bottom: 3px;
}

.nav-pills-custom .tab-content {
    background: #fff;
    min-height: 400px;
    margin-left: -12px;
    border-left: 2px solid #4e73df;
}

.col-form-label.is-invalid {
    color: #e74a3b;
}

.form-control, .card {
    /* border-radius: 0; */
}
